[tool.poetry]
name = "migra"
version = "3.0"
authors = [ "Robert Lechte <robertlechte@gmail.com>",]
license = "Unlicense"
readme = "README.md"
description = "Like `diff` but for PostgreSQL schemas"

repository = "https://github.com/djrobstep/migra"
homepage = "https://databaseci.com/docs/migra"

packages = [
#    { include = "schemainspect", from = "../schemainspect" }
]

[tool.poetry.dependencies]
python = ">=3.6,<4"
sqlbag = "*"
six = "*"
schemainspect = { git = "https://github.com/discatech/schemainspect.git", branch = "c0f28f5abfee89b23501bde59d8ccd2107aa106f", develop = true }
psycopg2-binary = { version="*", optional = true }

[tool.poetry.dev-dependencies]
sqlbag = "*"
pytest = {version="*", python=">=3.5,<4"}
pytest-cov = "*"
pytest-clarity = {version=">=0.3.0-alpha.0", python=">=3.5,<4"}
psycopg2-binary = "*"
flake8 = "*"
isort = "*"
black = { version = ">=19.10b0", python=">=3.6" }

[tool.poetry.scripts]
migra = 'migra:do_command'

[tool.poetry.extras]
pg = ["psycopg2-binary"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
line_length = 88

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
